{% extends "base.html" %}
{% block content %}


    <h2>Lista Comany Code</h2>
<a type="button"
               class="btn btn-outline-warning"
               href="{% url 'setup:companycode-create' %}"
               style="font-size: 13px"
            >
                Nowy company code
            </a>


<table class="table table-sm table-hover">
    <thead>
        <tr>
            <td>Comany code</td>
            <td>Nazwa spółki</td>
        </tr>
    </thead>

    <body>
        {% for object in object_list %}
        <tr class="table table-sm table-hover">

            <td><a href="{% url 'setup:companycode-details' pk=object.pk %}">{{ object.company_code }}</a></td>
            <td>{{ object.company_name }}</td>
            
        </tr>
    {% endfor %}
    </body>
    </table>
{% endblock %}

