{% extends "base.html" %}
{% block title %}Reset Hasła{% endblock %}
{% block content %}
<div class="col-5">
<div class="row mb-4 pb-6">
<h4>Na Twój adres e-mail została wysłana wiadomość z 
    linkiem utworzenia nowego hasła</h4>
</div>
<div class="row mb-4">

    <div class="col-3">
        <a type="button"
           class="btn btn-outline-secondary d-grid"
           href="{% url 'e_delegacje:index' %}"
           style="font-size: 13px"
        >
            Powrót
        </a>
    </div>
    </div>
</div>
{% endblock %}