{% extends "base.html" %}

{% block title %}Zmiana hasła{% endblock %}
{% block content %}
<h1>Zmiana hasła</h1>
<p>Wypełnij poniższy formularz, aby zmienić hasło.</p>
<!-- <form action="." method="post">
{{ form.as_p }}
<p><input type="submit" value="Zmień"></p>
{% csrf_token %}
</form> -->

<div class="col-6 align-items-start pt-4">
    <form class="form-control" method="post">
        {% csrf_token %}
        <div class="row">
            <table class="table table-responsive-sm table-light bg-light">
                <tbody>
                    <tr>
                        <th>
                            <label for="id_old_password">Stare haslo:</label>
                        </th>
                        <td>
                            <input 
                            type="password" 
                            name="old_password" 
                            autocomplete="current-password" 
                            autofocus="" required="" 
                            id="id_old_password">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="id_new_password1">Nowe hasło:</label>
                        </th>
                        <td>
                            <input 
                            type="password" 
                            name="new_password1" 
                            autocomplete="new-password" 
                            required="" 
                            id="id_new_password1">
                            <br>
                            <span class="helptext">
                                <ul>
                                    <li>Twoje hasło nie możd być zbyt podobne do Twoich danych personalnych.</li>
                                    <li>Hasło musi się składać z conajmniej 8 znaków.</li>
                                    <li>Twoje hasło nie może być powszechnie używanym hasłem.</li>
                                    <li>Twoje hasło nie może być całkowicie numeryczne.</li>
                                </ul>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="id_new_password2">Potwierdź nowe hasło:</label>
                        </th>
                        <td>
                            <input 
                            type="password" 
                            name="new_password2" 
                            autocomplete="new-password" 
                            required="" 
                            id="id_new_password2">
                        </td>
                    </tr>
            
                </tbody>
                
            </table>
        </div>
<!-- 
        <div class="row">
            <div class="col-1 align-self-end">
                <input class="btn btn-outline-success" type="submit" value="Zmień">
            </div>

        </div> -->

        <div class="row mb-4">
            <div class="col-3 ">
                <input class="btn btn-outline-success d-grid"
                       type="submit"
                       value="Zmień"
                       style="font-size: 13px"
                    >
            </div>
         
            <div class="col-2 align-self-end">
                <a type="button"
                   class="btn btn-outline-secondary d-grid"
                   href="{% url 'e_delegacje:index' %}"
                   style="font-size: 13px"
                >
                    Powrót
                </a>
            </div>
            </div>
            
    </form>
</div>
{% endblock %}