{% extends "base.html" %}
{% block title %}Ustaw nowe hasło{% endblock %}
{% block content %}

{% if validlink %}
<div class="col-5">
    <div class="row mb-4 pb-6">

<h1>Ustaw nowe hasło!</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Ustaw hasło">
</form>

{% else %}

<p>Link do resetu hasła jest nieprawidłowy, prawdopodobnie został juz wykorzystany.  Zresetuj hasło jeszcze raz.</p>

{% endif %}

{% endblock %}


{% extends "base.html" %}

{% block title %}Ustaw nowe hasło{% endblock %}

{% block content %}

    {% if validlink %}

        <h1>Ustaw nowe hasło!</h1>
        <form method="POST">
        {% csrf_token %}
        {{ form.as_table }}
        <input type="submit" value="Ustaw hasło">
        </form>

    {% else %}

        <p>Link do zmiany hasła jest nieprawidłowy, prawdopodobnie został juz wykorzystany.  
            Proszę zresetuj hasło jeszcze raz.</p>

    {% endif %}
{% endblock %}