
{% autoescape off %}
Otrzymałeś tą wiadomośc ponieważ uzyłeś opcji Resetuj hasło w aplikacji E-delegacje.
You're receiving this e-mail because you requested a password reset for your user account at {{ site_name }}.

Please go to the following page and choose a new password:
Użyj poniższego linku be zresetowac hasło:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url django.contrib.auth.views.password_reset_confirm uidb64=uid token=token %}
{% endblock %}

Dla przypomnienia przesyłam nazwę uzytkownika: {{ user.username }}

Dziękuje za skorzystanie z aplikacji E-delegacje


{% endautoescape %}
