{% extends "base.html" %}
{% block content %}
    <h3>Dane użytkownika {{ object.first_name }} {{ object.last_name }}</h3>
    <br>
    <div class="col-4">
    <table class="table table-striped text-end" style="font-size: 13px">
        <tbody>
            <tr></tr>
        <th><label>Użytkownik:</label></th>
        <td><p>{{ object.username }}</p></td>
    </tr>
    <tr>
        <th><label><p>Imie:</p></label></th>
        <td><p>{{ object.first_name }}</p></td>
    </tr>
    <tr>
        <th><label><p>Nazwisko:</p></label></th>
        <td><p>{{ object.last_name }}</p></td>
    </tr>
    <tr>
        <th><label><p>email:</p></label></th>
        <td><p>{{ object.email }}</p></td>
    </tr>
    <tr>
        <th><label>Company Codes:</label></th>
        <td>
        {% for code in object.company_code.all %}
            <ul>
                <li style="height: 5;">{{ code.company_code }}</li>
            </ul>
        {% endfor %}
        </td>
    </tr>
    <tr>
        <th><label>Dział:</label></th>
        <td>{{ object.department }}</td>
    </tr>
    <tr>
        <th><label>Przełożony </label></th>
        <td>{{ object.manager }}</td>
    </tr>
    <tr>
        <th><label>Poziom stanowiska: </label></th>
        <td>{{ object.get_employee_level_display }}</td>
    </tr>
        </tbody>
    </table>
    </div>

    {% if request.user.is_staff %}
    <a class="btn btn-outline-secondary" href="{% url 'setup:user-list-view'%}" role="button">Powrót</a>
    <a class="btn btn-outline-warning" href="{% url 'setup:user-update' pk=object.id %}" role="button">Edytuj</a>
    {% else %}
    <a class="btn btn-outline-secondary" href="{% url 'e_delegacje:index'%}" role="button">Powrót</a>
    {% endif %}
    {% endblock %}
