{% extends "base.html" %}
{% block content %}


    <h2>Stawka kilometrówki</h2>
<a type="button"
               class="btn btn-outline-warning"
               href="{% url 'setup:mileagetate-create' %}"
               style="font-size: 13px"
            >
                Nowa Stawka
            </a>


<table class="table table-sm table-hover">
    <thead>
        <tr>
            <td>Typ pojazdu</td>

            <td>Stawka w PLN</td>
        </tr>
    </thead>

    <body>
        {% for a in object_list %}
        <tr class="table table-sm table-hover">

          <td><a href="{% url 'setup:mileagetate-details-view' pk=a.pk %}">   {{ a.get_vehicle_type_display }}</a></td>
          <td><a>{{a.rate}} PLN</a></td>


        </tr>
    {% endfor %}
    </body>
    </table>
{% endblock %}



