{% load static %}
{#<!DOCTYPE html>#}
<html {% if LANGUAGE_CODE %}lang="{{ LANGUAGE_CODE }}"{% endif %}>


<head>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>E-Delegacje</title>

	<meta name="description" content="Aplikacja do zarządzania podróżami służbowymi w firmie">
	<meta name="keywords" content="podróże służbowe, delegacje, wyniki">
	<meta name="author" content="Łukasz Szcześniak, Gerard Borowski">

	<meta http-equiv="X-Ua-Compatible" content="IE=edge">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-icons/bootstrap-icons.css' %}"/>
	<style>
		table.th
		{
			font-size: 12px;
			font-weight: bold;
			font: 'Segoe UI';
		}
		table.td
		{
			font-size: 12px;
			font: 'Segoe UI';
		}
	</style>
  </head>

<body >
    <main>
		{% if application_status == 'in_progress' %}
		<div  style="font: 12px Verdana;">
			<h2 style="color: rgb(0, 51, 102);">
				E-delegacje <br>
			</h2>
			<h4 style="color: rgb(0, 51, 102);">
				Masz nowy wniosek do weryfikacji
			</h4>
				<hr>
				<br>
			<p style="text-indent: 5px; 
			font: 16px Verdana">
				Użytkownik <strong>{{ application.application_author.first_name }} {{ application.application_author.last_name }} </strong> 
				wysłał/a wniosek numer <strong>{{ application.id }}</strong> do weryfikacji.
			</p>
			<p style="text-indent: 15px; ">		<strong>Opis: </strong> {{ application.trip_purpose_text.upper }}</p>
			<p style="text-indent: 15px; ">		<strong>Planowana data delegacji: </strong> 
				{{ application.planned_start_date.isoformat }} - {{ application.planned_end_date.isoformat }}</p><br>
			<hr>
			<a style="font: 16px Verdana;
			font-weight: bolder"
			href="https://war14srv306.r3.madm.net/prod/e-delegacje/approval-list  " 
			target="_blank">
			kliknij link by przejśc do aplikacji
			</a>

		</div>
		{% elif application_status == 'settlement_in_progress' %}
		
		<div  style="font: 12px Verdana;">
			<h2 style="color: rgb(0, 51, 102);">
				E-delegacje <br>
			</h2>
			<h4 style="color: rgb(0, 51, 102);">
				Masz nowe rozliczenie wniosku do weryfikacji
			</h4>
			<hr>
			<p style="text-indent: 5px; 
			font: 16px Verdana">Użytkownik 
			<strong>{{ application.application_author.first_name }} 
				{{ application.application_author.last_name }} </strong> 
			wysłał/a rozliczenie do wniosku numer <strong>{{ application.id }}</strong> do weryfikacji.


	<div class="row">
			<table  style="
			font-size: 13px;
			width: 600px;
			border: 2px;
			border-inline: 2px;
			border-style: solid;
			">

				<tr>
					<th style="font-weight: bold " >Numer Wniosku o delegację</th>
					<td style="font-size: 16;">{{ application.id }}    </td>
				</tr>
				<tr >
					<th class="fw-bold" >Data wniosku:</th>
					<td >{{ application.application_date.isoformat }}</td>
				</tr>
				<tr>
					<th class="fw-bold" >Cel podróży/Opis:</th>
					<td >{{ application.trip_purpose_text }}</td>
				</tr>
				<tr>
					<th>Pracownik</th>
					<td >{{ application.target_user.first_name }} {{ application.target_user.last_name }}</td>
				</tr>
				{% if application_status == 'settlement_in_progress' %}
				<tr>
					<th>Data wyjazdu</th>
					<td >{{ application.bt_application_settlement_info.bt_start_date.isoformat }} - 
						{{ application.bt_application_settlement_info.bt_start_time.isoformat }}
					</td>
				</tr>
				<tr>
					<th>Data powrotu</th>
					<td >{{ application.bt_application_settlement_info.bt_end_date.isoformat }} - 
						{{ application.bt_application_settlement_info.bt_end_time.isoformat }}
					</td>
				  </tr>
				{% else %}
				<tr>
					<th>Planowana data wyjazdu</th>
					<td >{{ application.planned_start_date.isoformat }}</td>
				</tr>
				<tr>
					<th>Planowana data powrotu</th>
					<td >{{ application.planned_end_date.isoformat }}</td>
				  </tr>
				{% endif %}
			</table>

	</div>
	<br>
        
	<div class="row">

          <table  style="font-size: 12px;
		  width: 600px;
          border: 2px;
          border-inline: 2px;
          border-style: solid;">
                    <tr>

                        <th>Kraj</th>
						<td>{{ application.bt_country }}</td>
					</tr>
					<tr>
                        <th>Trasa podrózy</th>
						<td>{{ application.travel_route }}</td>
					</tr>
					<tr>
                        <th>Rodzaj transportu</th>
						<td>{{ application.transport_type }}</td>
					</tr>
                        <tr>
							<th>Cost center</th>
							<td>{{ application.CostCenter }}</td>
						</tr>

            </table>
		</div>

		<br>
		<hr>	
			
			<a style="font: 16px Verdana;
			font-weight: bolder"
			href="https://war14srv306.r3.madm.net/prod/e-delegacje/approval-list " 
			target="_blank">
			kliknij link by przejśc do aplikacji
			</a>

		</div>
		
		{% endif %}  
</main>
</body>
</html>
