<table>
<tbody>
<tr><td colspan="8"></td></tr>

{% for item in applications %}

{% if item.target_user == request.user or item.application_author == request.user %}
    {% if item.application_status in 'settled, canceled' %}
    <tr>
        <td>
           <strong> {{ item.id }} </strong>
        </td>
        <td>
            {{ item.bt_company_code.company_code }}
        </td>
        <td>
            {{ item.target_user }}
        </td>
        <td>
            {{ item.bt_applications_settlements.bt_application_info.bt_start_date.isoformat }} - <br>
            {{ item.bt_applications_settlements.bt_application_info.bt_end_date.isoformat }}                         
        </td>
        <td style="min-width: 300px;">
            {{ item.trip_purpose_text }}
        </td>


    <td>
    {% if item.application_status == 'canceled' %}
        <p class="text-danger"><b>{{ item.get_application_status_display }}</b></p>
    {% else  %}
        <p class="text-success"><b>{{ item.get_application_status_display }}</b></p>
    {% endif%}

    </td>

        <td>
            <a class="btn btn-outline-secondary"
                 href="{{ item.bt_applications_settlements.get_absolute_url }}"
              style="font-size: 12px"
              >
                Szczegóły
            </a>

        </td>

         <td>
          {% if item.application_status != 'canceled' %}
            <a class="btn btn-outline-danger rounded mx-auto d-block"
                style="font-size: 12px"
               href="{% url 'e_delegacje:pdf-in-line' pk=item.id %}"
               target="_blank" 
            >
                pdf
            </a>
         {% endif %} 
        </td>

    </tr>

    {% endif %}
{% endif %}




{% endfor %}
</tbody>
</table>