{% extends "base.html" %}
{% block content %}
<body>
<h2>Lista zleceń</h2>
        <div class="col-3 align-self-start">
            <a type="button"
               class="btn btn-outline-warning"
               href="{% url 'setup:order-create' %}"
               style="font-size: 13px"
            >
                Nowe zlecenie
            </a>
        </div>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <td>Zlecenie</td>
            <td>Opis</td>
            <td>Cost Center</td>


        </tr>
    </thead>

    {% for item in object_list %}
    <tr class="table table-sm table-hover">

          <td><a href="{% url 'setup:order-details-view' pk=item.pk %}">{{item.order}}</a></td>
            <td></a>  {{item.name}}</a></td>
            <td></a>  {{item.cost_center}}</a></td>
            </tr>
       {% endfor %}

      </body>
</table>

{% endblock %}