{% extends "base.html" %}
{% block content %}
    <h3>Szczegóły zlecenia {{ object.order }}</h3>
    <div class="col-6">
        <table class="table table-hover">
            <tr>
                <th colspan="2">Opis zlecenia:</th>
                <td>{{ object.name }}</td>
            </tr>
            <tr>
                <th colspan="2">Cost center: </th>
                <td>{{ object.cost_center }}</td>
            </tr>
        </table>
    </div>
    <br>
    
    <a class="btn btn-outline-secondary" href="{% url 'setup:order-list-view'%}" role="button">Powrót</a>
</div>
    {% endblock %}
