{% extends "base.html" %}
{% block content %}



<div class="container-fluid">
<h2>Historia Akceptacji {{request.user}}</h2>
    <div class="row pt-4">
          {% if object_list %}
        <table class="table table-sm  table-hover">
            <thead>
                <th>Wniosek nr:</th>
                <th>pracownik:  </th>
                <th>Data wyjazdu:  </th>
                <th>Opis:</th>
                <th colspan="2"></th>
            </thead>
        <tbody>

                {% for item in object_list %}

            <tr>
                    <td class="col-1 ">
                        <strong>{{ item.id }}.</strong>
                    </td>
                    <td class="col-2 ">
                        {{ item.target_user.first_name }} {{ item.target_user.last_name }}
                    </td>
                    <td class="col-2 ">
                        od {{ item.planned_start_date.isoformat }} <br> do {{ item.planned_end_date.isoformat }}
                    <td class="col-3 ">
                        {{ item.trip_purpose_text }}
                    </td>
                    <td class="col-3 ">
                      <a class="btn btn-outline-secondary d-block"
                         href="{% url 'e_delegacje:settlement-details' pk=item.bt_applications_settlements.id %}"
                      style="font-size: 14px"
                      >
                        Szczegóły wniosku
                    </a>

                        </td>
                </tr>

            {% endfor %}
            {% else %}
                <h6 class="offset-1 mt-2 pt-2"> Brak wniosków do wyświetlenia </h6>
            {% endif %}

        </tbody>
        </table>
    <hr>
    </div>


    <div class="row">
        <div class="col-3 align-self-end">
            <a type="button"
               class="btn btn-outline-secondary d-grid"
               href="{% url 'e_delegacje:approval-list' %}"
               style="font-size: 13px"
            >
                Powrót
            </a>
            
        </div>
    </div>
</div>



{% endblock %}

